body{
    background-color:indigo;
}

h1{
    text-align: center;
    background-color: darkmagenta;
    color: goldenrod;
    border-radius: 10px;
    border-style: dotted;
    font-family: cursive;
}

.formularios fieldset{
    border-color: gold;
    color: white;
   
}

body{
    background-image: url(../imagem/goku.png);
    background-repeat: no-repeat;
    background-position: right;
}

button{
    background-color: rgb(165, 0, 186);
    width: 120px;
    height: 50px;
    border-radius: 10px;
    color: white;
}

#form1  input{ 
    width: 900px;
    height: 18px;
    border-radius: 5px;
}

select{
    width: 300px;
    height: 18px;
}

fieldset{
    border: solid gold 3px;
}
