body{
    background-color:indigo;
}

h1{
    text-align: center;
    background-color: darkmagenta;
    color: goldenrod;
    border-radius: 10px;
    border-style: dotted;
}

.formularios fieldset{
    border-color: gold;
    color: white;
   
}

body{
    background-image: url(../imagem/goku.png);
    background-repeat: no-repeat;
    background-position: right;
}